body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a6a6a6;
    height: 70rem;
}

.navbar {
    background-color: #41B8D5;
    /* Cor de fundo da barra de navegação */
    color: #fff;
    /* Cor do texto */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -4.8%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    float: left;
    margin-top: 5%;
    margin-left: 0.5rem;
    margin-bottom: 0.1rem;

}

.profile {
    position: relative;
    padding: 0.05rem;
}

.profile img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 0.5rem;
}

.options {
    position: absolute;
    top: 3.125rem;
    right: 0;
    background-color: #67bed1;
    display: none;
}

.profile:hover .options {
    display: block;
    margin-top: -0.18rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    border-radius: 0rem 0rem 0rem 1rem;
}

.options ul {
    list-style: none;
    padding: 0;
}

.options ul li {
    padding: 0.625rem;
}

.options ul li a {
    color: #fff;
    text-decoration: none;
}

.options ul li a:hover {
    text-decoration: underline;
}

.menu1 {
    position: absolute;
    top: 3.125rem;
    right: 0;
    background-color: #67bed1;
    display: none;
}

.logo:hover .menu1 {
    display: block;
    position: absolute;
    left: 0;
    width: 12rem;
    margin-top: 0.13rem;
    border-radius: 0rem 0rem 1rem 0rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.menu1 ul {
    list-style: none;
    padding: 0;
}

.menu1 ul li {
    padding: 0.625rem;
}

.menu1 ul li a {
    color: #fff;
    text-decoration: none;
}

.menu1 ul li a:hover {
    text-decoration: underline;
}

select {
    width: 100%;
    padding: 0.625rem;
    margin-top: 0.313rem;
    margin-bottom: 0.625rem;
    border: 0.063rem solid #1D77a0;
    border-radius: 0.313rem;
    box-sizing: border-box;

}

h2 {
    text-align: center;
    color: #000;
}

form {
    position: relative;
    margin-top: 50%;
    left: 29%;
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: #67bed1;
    border-radius: 0.625rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    height: 37rem;
}

div {
    margin-top: 5%;

}

label {
    color: black;
}

input[type="text"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 0.625rem;
    margin-top: 0.313rem;
    margin-bottom: 0.625rem;
    border: 0.063rem solid #1D77a0;
    border-radius: 0.313rem;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 0.625rem;
    margin-top: 0.625rem;
    border: none;
    background-color: #025373;
    /* Azul marinho */
    color: #fff;
    border-radius: 0.313rem;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="voltar"]:hover {
    background-color: #025373;
    /* Azul royal */
}

input[type="voltar"] {
    width: 45%;
    padding: 0.625rem;
    margin-top: -0.725rem;
    border: none;
    margin-left: 8.7rem;
    background-color: #025373;
    /* Azul marinho */
    color: #fff;
    border-radius: 0.313rem;
    cursor: pointer;
    text-align: center;
    display: flex;
    float: center;
}

footer {
    position: absolute;
    bottom: -24rem;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #71b1d9;
    /* Azul marinho */
    color: #fff;
    text-align: center;
    padding: 0.625rem 0;
    margin-top: 10rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    height: 3rem;
}